body {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

h1 {
    text-align: center;
    font-size: 32px;
}

.fs-10px{
    font-size: 10px;
}
.fs-12px{
    font-size: 12px;
}
.store {
    width: 140px;
}
.copyright{
    background-color: #0E204E;
}

.nav-bar-movil-aside {
    width: 250px;
    height: 100vh;
    z-index: 100;
    left: -250px;
    transition: left 1s ease; /* Agregamos una transición para la animación */
}

.show-nav {
    left: 0; /* Posición mostrada */
}